span.positive-score-change
{
    color: darkred;
    font-weight: bold;
}

span.draw-score-change
{
    font-weight: bold;
}

span.negative-score-change
{
    color: darkgreen;
    font-weight: bold;
}

.game-winner .user-link
{
    color:darkred;
    font-weight: bold;
}

.game-runner .user-link
{
    color: mediumblue;
}

td.game-loser .user-link
{

}

span.not-enough-time
{
    color: mediumvioletred;
}

span.deck {
    color: gray
}